@import '../../../styles.scss';

#contact{
    width: 80%;
    margin-bottom: 100px;
    margin: 30px auto 100px;
    max-width: 1440px;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
    padding: 0 10% 0 10%;
    @include tablet{
        max-width: 90%;
    }
    @include laptop{
        max-width: 80%;
    }
    @include desktop{
        max-width: 50%;
    }

    .custom-input{
        width: 100%;
    }
    .form-control{
        border: 1px solid rgb(180, 180, 180);
        border-radius: 3px;
    }
    .warning-text{
        color: red;
        display: block;
        text-align: left;
        width: 100%;
    }
}
