@import '../../../media-queries';
@import '../../../styles.scss';


#project-details {
    width: 100%;
    padding-top: 100px;
    margin-bottom: 6rem;
    small.breadcrumb {
        display: flex;
        height: 2rem;
        align-items: center;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;


        .breadcrumb_project_name {
            display: inline;
        }

        .icon-text-container {
            display: flex;
            align-items: center;
            height: auto;
            
            width: fit-content;
        }

        .reply_icon {
            font-size: 1.3rem;
        }

        .text {
            margin-left: 5px;
            /* Añade un espacio entre el icono y el texto */
        }

        .icon-text-container:hover {
            color: $primary-500;
        }

        .keyboard_arrow_right {
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            font-size: 1.1rem;
        }
    }

    .container {
        margin: auto;

        @media screen and (max-width : 768px) {
            max-width: 90%;
        }

    }

    h2 {
        text-align: left;
        margin: 0.5rem 0;
        width: 75%;

        @include desktop {
            width: 60%;
        }
    }

    .divider {
        height: 3px;
        background-color: $primary-500;
        width: 80%;
        margin-bottom: 1rem;

        @include tablet {
            width: 75%;
        }

        @include desktop {
            width: 60%;
        }
    }

    .main-img-container {
        width: 30%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h4 {
        margin-top: 3rem;

    }


    .technologies-container {
        display: flex;
        flex-wrap: wrap;

        .tech-img-container {
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;

            @include tablet {
                height: 3rem;
                width: 3rem;
                margin-right: 2rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .description {
        max-width: 90%;
    }

    .links_container{
        height: 2rem;
        .icon_container{
            display: inline-block;
            width: 2rem;
        }
        img{
            max-height: 1.8rem;
            margin-right: .8rem;
        }
        a{
            color: $primary-500;
            font-weight: 500;
        }
        a:hover{
            color: $primary-600;
        }
    }
}