<section id="project-details">
    @if(this.project != null){
    <div class="container">
        <small class="breadcrumb">
            <a href="#projects">
                <span class="icon-text-container">
                    <mat-icon class="reply_icon">reply</mat-icon>
                    <span class="text">{{"projects_details.breadcrumb" | translate}}</span>
                </span>
            </a>
            <mat-icon class="keyboard_arrow_right">keyboard_arrow_right</mat-icon>
            <small class="breadcrumb_project_name">{{lang === 'es' ? project.name.es : project.name.en}}</small>
        </small>

        <h2>
            {{lang === 'es' ? project.name.es : project.name.en}}
        </h2>
        <div class="divider"></div>

        <div class="main-img-container">
            <img src="{{project.img}}" alt="{{lang === 'es' ? project.name.es : project.name.en}}">
        </div>

        <h4>Technologies Employed: </h4>
        <div class="divider"></div>
        <div class="technologies-container">
            @for (tech of project.technologies; track $index) {
            <div class="tech-img-container">
                <img src="assets/some-technologies/{{tech}}.png" alt="">
            </div>
            }
        </div>

        <h4>Description</h4>
        <div class="divider"></div>
        <p class="description">
            
            {{lang === 'es' ? 

        project.description.es 
        
        : 
        
        project.description.en
        
        }}</p>

        <h4>Links</h4>
        <div class="divider"></div>
        @for( item of project.links | keyvalue ; track $index){
            <div class="links_container">
                <div class="icon_container">
                    <img src="../../../assets/icons/{{item.key}}.svg" alt="{{item.key}} icon"> 
                </div>
                <span>visita el proyecto en: </span><a href="{{item.value}}" target="_blank">{{item.key}}</a>
            </div>
        }

    </div>

    }
    @else {
    TODO: cartel de error , el proyecto no existe.
    }

</section>