@import "../../../media-queries";
@import "../../../styles.scss";

#about {
    background-image: linear-gradient($secondary-500,$primary-500);
    // background-image: linear-gradient($primary-500,$primary-600);
    clip-path: polygon(0 4%, 100% 0%, 100% 96%, 0% 100%);
    display: flex;
    justify-content: center;

    @include tablet{
        clip-path: polygon(0 8%, 100% 0%, 100% 87%, 0% 100%);
    }
}

.about-container{
    max-width: 1440px;
    width: 100%;
    
    padding: 100px 20px 50px 20px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet{
        padding: 100px 20px 100px 20px;
    }
    h2{
        font: $mobh2;
        color: white;
        font-size: clamp(1rem, 0.714rem + 1.429vw, 2rem);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.188);
        margin-bottom: 3rem;
    }
    
    .info-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include tablet{
            gap: 3rem;
            padding: 0 6rem;
        }

        @include laptop{
            flex-direction: row;
            padding: 0 4rem;
        }
        
        @include desktop{
            
            padding: 0 12rem;
        }

    
        figure{
            width : clamp(14.8rem, 12.6rem + 11vw, 22.5rem);         
        }
    
        .text-container{
    
            padding: 0 2rem;
    
            @include tablet{
                // padding: 0 4rem ;
                padding : 0;
            }
            @include desktop{
                padding : 0;
            }
            .about-text{
                font : $mob-normal-semi-bold;
                color: white;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.385);
                
                span{
                    color: #ffffff;
                }
            }   
        }
        
    }
   



}