<section id="about" >
    <div class="about-container">
        <h2>Let me tell you something of me</h2>
        <div class="info-container">
            <figure class="about-img-container">
                    <img src="assets/about/aboutImage.PNG" alt="Jesus Diaz Photo">
            </figure>
            <div class="text-container">
                <p class="about-text">Hello! I'm a passionate <span>Full Stack developer</span>
                    with experience in developing web applications from scratch to deployment.
                </p>
                <p class="about-text">
                    My focus goes beyond the code; I also have specialized
                    <span>studies in UX/UI</span>, allowing me to create intuitive and engaging user experiences.
                </p>
                <p class="about-text">
                    With skills in both <span>front-end</span> and <span>back-end</span>,
                    I'm ready to tackle any development challenge and design solutions that <span>not only work well but also delight
                        users.</span>
                </p>
                <p class="about-text">
                    I'm excited to collaborate on projects that combine the best of functionality and design to deliver exceptional digital experiences.
                </p>
            </div>
        </div>
       
    </div>
</section>