@import "../../../media-queries";
@import "../../../styles.scss";

#home{
    // height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    
    
    .hero-container{
        padding: 3rem 0 0 0;
        display: flex;
        justify-content: space-between;
        
        flex-direction: column;
        
        width: 100%;
        
        align-items: center;

        @include tablet{
            flex-direction: row;
            padding: 8rem 2rem;
        }
        @include laptop{
            max-width: 1440px;
            width: 100%;
            padding: 8rem 5rem; 
        }
        @include desktop{
             padding: 8rem 9.375rem 6rem 6.25rem;
        }


        .hero-text{ 
            // background-color: red;
            order: 1;
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // background-color: rgba(13, 255, 0, 0.758);
            width: 90%;
            align-items: center;
            padding: 40px 0 0 0;
            text-align: center;
            @include tablet {
                width: 90%;
            }
            @include laptop{
                width: 60%;
            }
            @include desktop{
                // width: 590px;
                // width: 100%;
            }
            
            h1{
                font:$hero-header;
                line-height: 1.8rem;
                font-weight: bold;
                // color: aqua;
                font-size: clamp(1rem, 0.313rem + 3.055vw, 3.062rem);
                @include tablet{
                    line-height: 2rem;
                }

                @include laptop{
                    line-height: 2.5rem;
                }
                @include desktop{
                    line-height: 3rem;
                }
                
            }
            span{
                color: $primary-500;
            }
            
            .img-solo-mobole{
                display: block;
                @include tablet{
                    display: none;
                }
            }
            .buttons-container{

                display: flex;
                justify-content: center;
                gap: 1rem;

                @include tablet{
                    gap: .8rem  ;
                }

                @include laptop{
                    gap: clamp(1rem, -0.778rem + 3.704vw, 2rem);
                }

                @include desktop{
                    gap: 2rem;
                }

                app-primary-button{

                    margin: 1rem 0 ;     
                    
                }
            }
            
            
            
        }

        figure{
            display: none;
            max-width: 50%;
            margin-top: 40px;
            
            @include tablet{
                display: block;
                order: 2;
                margin-right: 30px;
                max-width: 200px;
            }
            @include laptop{
                max-width: 300px;
            }
            @include desktop{
                max-width: 350px;
                margin-right: 0;
            }
            img{
                width: 100%;
            }
        }

    }

    figure.icons-container{
        display: flex;
        justify-content: space-between;
        margin: 2rem 0 2rem 0 ;
        img{
            margin: 0px 10px;
        }
    }
}

