
<section   class="hero-section" id="hero" > 
    <div class="hero-container">
        <div class="hero-text">
            <h1>Hi, My name is Jesus {{ "home.hero.greeting" | translate}}<br>
                and i’m<br>
                <span>FullStack Web Developer</span><br>
                &<br>
                <span>UX-UI Dessigner</span>
            </h1>

            <figure class="img-solo-mobole">
                <img src="assets/hero/Greeting-photo.png" alt="Jesus Diaz Photo">
                <!-- <img src="{{dev_env}}assets/hero/Greeting-photo.png" alt="Jesus Diaz Photo"> -->
            </figure>

            <div class="buttons-container">
                <a href="#contact">
                    <button class="primary-button">Contact</button>
                </a>
                <!-- TODO: put an spinner here -->
                <a href="https://drive.google.com/uc?export=download&id=16BilJl9JFEWigMLp_iaYZ3Quusz4T8Eb">
                    <button class="primary-button">Download CV</button>
                </a> 
            </div>
        </div>
        <figure>
            <img src="assets/hero/Greeting-photo.png" alt="Jesus Diaz Photo">
            <!-- <img src="{{dev_env}}assets/hero/Greeting-photo.png" alt="Jesus Diaz Photo"> -->
        </figure>
        
    </div>
    <figure class="icons-container">
        <a href="https://github.com/JesusDiazDeveloper" target="_blank"><img src="assets/icons/github.svg" alt="github icon"></a>
        <a href="https://www.linkedin.com/in/jesusdiazdeveloper/" target="_blank"><img src="assets/icons/linkedin.svg" alt="linkedin icon"></a>
    </figure>
</section>