
<section   class="hero-section" #hero > 
    <div class="hero-container">
        <div class="hero-text">
            <h1>Hi, My name is Jesus<br>
                and i’m<br>
                <span>FullStack Web Developer</span><br>
                &<br>
                <span>UX-UI Dessigner</span>
            </h1>

            <figure class="img-solo-mobole">
                <img src="../../../assets/hero/Greeting photo.png" alt="Jesus Diaz Photo">
            </figure>

            <div class="buttons-container">
                <app-primary-button id="algo" text="Contact"></app-primary-button>
                <app-primary-button id="algo" text="Download CV"></app-primary-button>
            </div>
        </div>
        <figure>
            <img src="../../../assets/hero/Greeting photo.png" alt="Jesus Diaz Photo">
        </figure>
        
    </div>
    <figure class="icons-container">
        <img src="../../../assets/icons/github.svg" alt="github icon">
        <img src="../../../assets/icons/linkedin.svg" alt="linkedin icon">
    </figure>
</section>