@import '../../../../media-queries';
@import '../../../../styles.scss';

/* Estilos para el overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(81, 81, 81, 0.5); /* Fondo negro semi-transparente */
    // display: none; /* Ocultar inicialmente */
    z-index: 999; /* Asegúrate de que el overlay esté por encima del resto del contenido */
  }
  
  /* Estilos para el modal */
  .modal_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary-100;
    border-radius: 5px;
    z-index: 1000; 
    display: relative;
    padding: 0px 40px 30px;
    width: min(80% , 400px);
    font: $mob-normal;
  }
  
  /* Estilos para el botón de cerrar */
  .modal_close_button {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #003c56;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;
  }
  
  .modal_close_button:hover,
  .modal_close_button:focus {
    color: black;
    text-decoration: none;
  }

  .modal_info{
    padding-top: 40px;
    text-align: center;
  }