@import '../../../styles.scss';
@import '../../../media-queries';

#projects{
    height: 100vh;
    width: 100%;
}



.card-container{
    background-color: red;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.img-car{
    object-fit: cover ; 
    width: 100%; /* Asegúrate de que la imagen ocupe todo el ancho */
    height: 100%; /* Asegúrate de que la imagen ocupe todo el alto */
}


#algo .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
     color: red !important;
}

.carousel-container #mi-carousel .p-carousel .p-carousel-content .p-carousel-prev,
.carousel-container #mi-carousel .p-carousel .p-carousel-content .p-carousel-next {
    width: 13rem; /* Cambia el valor según sea necesario */
    height: 13rem; /* Cambia el valor según sea necesario */
    color: red;
    background-color: red !important;
}

