<section id="projects">
    <div class="projects-container">
        <h2>{{"home.projects.title" | translate}}</h2>
        <div class="carousel-container">
            <p-carousel [value]="projects" [circular]="true" [autoplayInterval]=3000
                [responsiveOptions]="responsiveOptions">

                <ng-template let-project pTemplate="item">
                    <div class="card-container" (mouseover)="showOverlay(project.id)" (mouseleave)="hideOverlay()" (click)="navigateToDetail(project.id)">

                        <img src="{{project.img}}"  alt="{{project.name}}" class="img-card" />

                        <div class="hover-info" [class.show]="showOverlayIndex == project.id">
                            
                            <p>
                                {{lang === 'es' ? project.name.es : project.name.en}}
                            </p>
                            <div class="technologies-container">
                                <!-- iterate over all technologies of each project -->
                                @for (tech of project.technologies ; track $index) {
                                <div class="tech-img-container">
                                    <img class="technology-img-of-carousel" src="assets/some-technologies/{{tech}}.png" alt="">
                                </div>
                                }
                            </div>
                        </div>

                    </div>
                </ng-template>
            </p-carousel>
        </div>


        <div class="grid-projects-container">

            @for (project of projects; track project.name ; let i = $index) {
            <div class="grid-card-container" (mouseover)="showOverlay(i)" (mouseleave)="hideOverlay()" (click)="navigateToDetail(project.id)" >

                <img src="{{project.img}}" alt="{{lang === 'es' ? project.name.es : project.name.en}}">

                <div class="hover-info" [class.show]="showOverlayIndex === i" >
                    <p>
                        {{lang === 'es' ? project.name.es : project.name.en}}
                    </p>
                    <div class="technologies-container" >
                        <!-- iterate over all technologies of each project -->
                        @for (tech of project.technologies ; track $index) {
                        <div class="tech-img-container" >
                            <img src="assets/some-technologies/{{tech}}.png" alt="">
                        </div>
                        }
                    </div>
                </div>
            </div>
            }

        </div>

        <!-- <div class="button-container">
            <button class="primary-button">{{"home.projects.btn_see_more" | translate}}</button>
        </div> -->
    </div>
</section>