<mat-sidenav-container>

    <!-- Side Nav -->
    <mat-sidenav #sidenav mode="over" [(opened)]="menuOpened" class="sidenav">
        <div class="sidenav-buttons-container">
            <div class="button-container" [ngClass]="navbarfixed ? 'sidenav-top-button-fixed' : 'sidenav-top-button-no-fixed'">
                <mat-icon class="close-icon" (click)="closeMenu()">close</mat-icon>
            </div>
            <nav>
                <ul>
                    <div class="sidenav-menu-button">
                        <mat-icon class="sidenav-icon">home</mat-icon>
                        <li><a (click)="sidenav.toggle()" href="#home">Inicio</a></li>
                    </div>
                    <div class="sidenav-menu-button">
                        <mat-icon class="sidenav-icon">source</mat-icon>
                        <li><a (click)="sidenav.toggle()" href="#about">Acerca de</a></li>
                    </div>
                    <div class="sidenav-menu-button">
                        <mat-icon class="sidenav-icon">delete_forever</mat-icon>
                        <li><a (click)="sidenav.toggle()" href="#projects">Proyectos</a></li>
                    </div>
                </ul>
            </nav>

        </div>
    </mat-sidenav>

    <!-- Content  -->
    <mat-sidenav-content>

        <!-- Desktop Nav bar -->
        <mat-toolbar color="red" class="toolbar" (scroll)="onScroll()" [ngClass]="navbarfixed?'fixed':'no-fixed'">

            <button mat-icon-button class="hamburguer-menu" aria-label="Side Menu Button"
                (click)="sidenav.toggle()">
                <mat-icon>{{ menuOpened ? 'clear' : 'menu' }}</mat-icon>
            </button>

            <a href="#hero"><span class="jesus-diaz-developer">Jesus Diaz <span>Dev</span></span></a>
            
            <nav class="desktop-nav">
                <ul class="custom-ul">
                    <li class="custom-li"><a href="#hero">Home</a></li>
                    <li class="custom-li"><a href="#projects">Projects</a></li>
                    <li class="custom-li"><a href="#some-technologies">Tecnologies</a></li>
                    <li class="custom-li"><a href="#about">About</a></li>
                </ul>
            </nav>

        </mat-toolbar>
        
        <!-- Content  -->
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>


</mat-sidenav-container>