@import '../../../../styles.scss';
@import '../../../../media-queries';

#footer {
    width: 100%;
    list-style-type: none;
    color: white;
    background-image: 
    // url("../../../../assets/footer/Footer-Dots.png") ,
    linear-gradient(to right , #25AEF0 , #1877F2 );
    background-repeat: no-repeat;
}

// #footer {
//      background-color: green;
//     .footer-content {
//         // background-color: rgb(207, 32, 201);
//         .logo-container {
//             background-color: blue;
//         }
//         .useful-links {
//             background-color: red;
//         }
//         .networks {
//             background-color: greenyellow;}
//         }        .address {
//             background-color: pink;
//         }
//         .copyright {
//             background-color: rgb(234, 255, 0);
//         }
//     }

.footer-content {

    width: min(1440px, 80%);

    margin: auto;
    padding-top: 2rem;
    display: grid;
    grid-template-rows: 150px 30px;
    grid-template-columns: 30% repeat(3, 1fr);

    .logo-container {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        padding: 0px 2em 0 0;
        @include laptop{
            padding: 0px 4rem 0 0;
        }

        img{
            height: clamp(6rem, 4.968rem + 3.368vw, 8rem);
            // @include tablet{ //481
            //     height: 6rem;
            // }
            // @include laptop{
            //     height: 7rem;
            // }
            // @include desktop{
            //     height: 8rem;
            // }
        }
    }
    
    h4{
        font: $mob-h4;
        font-size: clamp(0.5rem, 0.242rem + 0.842vw, 1rem);
        border-left: 2px solid white;
        padding-left: 0.2rem;
    }

    li{
        font: $mob-small;
        padding: 0.3rem 0;

        mat-icon{
            max-height: 10px;
            max-width: fit-content;
        }
    }

    a, a:visited {
        color: white; /* Cambia el color del texto de los enlaces visitados */
        text-decoration: none; /* Elimina la decoración de texto de los enlaces visitados, como el subrayado */
    }

    .useful-links {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        width: 100%;
        height: 100%;
    }

    .networks {
        grid-row: 1 / span 1;
        grid-column: 3 / span 1;
    }

    .address {
        grid-row: 1 / span 1;
        grid-column: 4 / span 1;
    }

    .copyright {
        grid-area: copyright;
        grid-row: 2 / span 1;
        grid-column: 1 / span 4;
        display: flex;
        justify-content: center;

    }
}